
*.scssc
assets/
node_modules/
reports/
dist/
log/
*.log
theme/hybrid-core/
theme/js/
theme/includes/vendor
theme/css/
theme/font/
theme/images/
theme/*.css
tmp/
logs/autoprefixer.diff

theme/languages/hoaloha.pot
